<div class = "image">
        <img src={{aBeer.image_url}} alt={{aBeer.name}}>
</div>
<div class = "content">
    <h3>{{aBeer.name}}</h3>
    <h6>{{aBeer.tagline}}</h6>
    <p>{{aBeer.description}}</p>
</div>

